<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>The Great Wonders</title>
	<script src="static/js/wondersFiller.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet"/>
</head>

<body id="home" onload="LoadHomeButtons();">
	
	<div class="flex">
		<h1> The Great Wonders of the World</h1>
	</div>
	<div id="wondersTag" class="flex"></div>
	<script src="static/js/requiredMethods.js"></script>
	<script src="static/js/wonders.js"></script>

</body>
</html>